@model UrlsAndRoutes.Models.City
@{ Layout = "_Layout"; }
    <form method="post">
        <div class="form-group">
            <label helper-for="Name" />
            <input helper-for="Name" />
        </div>
        <div class="form-group">
            <label helper-for="Country" />
            <input helper-for="Country" />
        </div>
        <div class="form-group">
            <label helper-for="Population" />
            <input helper-for="Population" />
        </div>

        @*<button type="submit" bs-button-color="danger">Add</button>
        <button type="reset" bs-button-color="primary">Reset</button>*@
    <div>
        <formbutton type="submit" bg-color="danger" />
        <formbutton type="reset" />
         <a theme="info" href="/Home/Index">Cancel</a>
      
    </div>
    </form>