<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrlsAndRoutes</title>
    <script asp-src-include="~/lib/jquery/*.js"></script>
    @*<link rel="stylesheet"
        asp-href-include="~/lib/bootstrap/dist/**/*.min.css"
        asp-href-exclude="**/*-reboot*,**/*-grid*" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          asp-fallback-href-include="~/lib/bootstrap/dist/**/*.min.css"
          asp-fallback-href-exclude="**/*-reboot*,**/*-grid*"
          asp-fallback-test-class="btn"
          asp-fallback-test-property="display"
          asp-fallback-test-value="inline-block"
          rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <div showaction-="Index" class="m-1 p-1 bg-danger">
        <h4>Important action tag-helper</h4>
    </div>
    <div>
        <environment names="development">
            <script asp-src-include="~/lib/jquery/j*.js"
                    asp-src-exclude="**.slim.**,**.min.**">
            </script>
        </environment>
        <environment names="staging, production">
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"
                    asp-fallback-src-include="/lib/jquery/*.min.js"
                    asp-fallback-src-exclude="**.slim.**"
                    asp-fallback-test="window.jQuery">
            </script>
        </environment>
        <cache expires-sliding="@TimeSpan.FromSeconds(15)" vary-by="@ViewContext.RouteData.Values["action"]">
              @await Component.InvokeAsync("Time")
        </cache>

        <img src="~/lib/images/city.png" asp-append-version="true" />
        @RenderBody()
    </div>
</body>
</html>