<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrlsAndRoutes</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <div showaction-="Index" class="m-1 p-1 bg-danger">
        <h4>Important action tag-helper</h4>
    </div>
    <div>@RenderBody()</div>
</body>
</html>